@import "tailwindcss";

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-error: var(--error);
  --color-success: var(--success);
  --color-border: var(--border);
  --color-disabled: var(--disabled);
  --color-text-main: var(--text);
  --color-text-placeholder: var(--text-placeholder);

  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

:root {
  --primary: #6200EE;
  --secondary: #03DAC6;
  --background: #F5F5F5;
  --surface: #FFFFFF;
  --error: #B00020;
  --success: #4CAF50;
  --text: #000000;
  --text-placeholder: #757575;
  --disabled: #E0E0E0;
  --border: #BDBDBD;
  --white: #FFFFFF;
}

.dark {
  --primary: #BB86FC;
  --secondary: #03DAC6;
  --background: #121212;
  --surface: #1E1E1E;
  --error: #CF6679;
  --success: #81C784;
  --text: #FFFFFF;
  --text-placeholder: #B0B0B0;
  --disabled: #333333;
  --border: #444444;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar for Dark Mode */
.dark ::-webkit-scrollbar {
  width: 10px;
}

.dark ::-webkit-scrollbar-track {
  background: #18181b;
}

.dark ::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 5px;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}